{% extends 'WysowArchiveMyTweetsBundle::layout.html.twig' %}
{% block title %}@{{ twitter.username }} {{ twitter.name }} - Followers{% endblock %}

{% block body %}
<body class="amt-recent">

	{% include 'WysowArchiveMyTweetsBundle::menu.html.twig' with { 'searchTerm': searchTerm, 'gravatarEmail': gravatarEmail } %}

	<div class="container">
		<div class="row">
			<div class="span8">
				<div id="tweets" class="rounded">
					<div class="page-header"><h1>{% if searchTerm %}Search <small>{{ searchTerm }}</small>{% else %}Followers{% endif %}</h1></div>
					{% include 'WysowArchiveMyTweetsBundle:Default:followersList.html.twig' with { 'pagination': pagination } %}

				</div><!-- /tweets -->
			</div><!-- /span8 -->

			<div class="span4">
				{% include 'WysowArchiveMyTweetsBundle::sidebar.html.twig' with { 'total': total, 'totalFavorited': totalFavorited, 'tweetsByMonths': tweetsByMonths, 'totalClients': totalClients, 'clients': clients, 'totalFollowers': totalFollowers } %}
			</div><!-- /.span4 -->

<!-- /index -->

		</div><!-- /.row -->
	</div><!-- /.container -->

	<div class="footer" id="footer">
		<div class="container">
			<p><a href="http://amwhalen.com/projects/archive-my-tweets/">Archive My Tweets</a> by <a href="http://www.wysow.fr">Gaultier Boniface</a>, inspired by <a href="http://amwhalen.com">Andrew M. Whalen</a> Archive My Tweets version.</p>
		</div><!-- /.container -->
	</div><!-- /.footer -->
{% endblock %}
